/*Root Properties*/
/*MS-DOS had a 16 colour limit to its palette*/
:root {
    --main: #640000;
    --hover: #797270;
    --head: #F5F5F5;

    --colour-1: ;
    --colour-2: ;
    --colour-3: ;
    --colour-4: ;
    --colour-5: ;
    --colour-6: ;
    --colour-7: ;
    --colour-8: ;
    --colour-9: ;
    --colour-10: ;
    --colour-11: ;
    --colour-12: ;
    --colour-13: ;
    --colour-14: ;
    --colour-15: ;
    --colour-16: ;
}

/*Change Defaults*/
a {
    text-decoration: none;
    color: var(--head);
}

ul {
    list-style: none;
}


/*Navigation*/
nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 1.8rem;
    padding: 0.8rem;
}

.nav-list a:hover {
    background: var(--hover);
}

.nav_box {
    display: block;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2.5%;
    position: fixed;
    width: 84%;
    height: 75%;
    background: var(--hover);
    box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.25);
    z-index: 11;
    visibility: hidden;
}

/*Testing area*/

.nav_button {
    margin-top: 200px;
}