/*Root Properties*/
/*MS-DOS had a 16 colour limit to its palette*/
:root {

    --col-1: black;
    --col-2: gray;
    --col-3: maroon;
    --col-4: red;
    --col-5: green;
    --col-6: lime;
    --col-7: olive;
    --col-8: yellow;
    --col-9: navy;
    --col-10: blue;
    --col-11: purple;
    --col-12: fuchsia;
    --col-13: teal;
    --col-14: aqua;
    --col-15: silver;
    --col-16: white;
}

/*Fonts*/
@font-face {
    font-family: font-1;
    src: url("assets/fonts/ttf - Ac (aspect-corrected)/Ac437_IBM_3270pc.ttf");
}   

@font-face {
    font-family: font-2;
    src: url("assets/fonts/ttf - Ac (aspect-corrected)/Ac437_IBM_DOS_ISO8.ttf");
}

/*Change Defaults*/
html {
    font-family: font-1;
}

p {
    font-family: font-2;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--col-16);
}

ul {
    list-style: none;
}


/*Navigation*/
nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--col-3);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 1.8rem;
    padding: 0.8rem;
}

.nav-list a:hover {
    background: var(--col-2);
}

.nav_box {
    display: block;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2.5%;
    position: fixed;
    width: 84%;
    height: 75%;
    background: var(--col-2);
    box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.25);
    z-index: 11;
    visibility: hidden;
}

/*Banner*/


/*Testing area*/
.Head-banner {
    margin-top: 300px;
}